@{ViewBag.Title = "About Me";}

<h1>About Me</h1>

<p>
    I have just completed my Master of Science in Computer Science. As part of my degree, I took several courses related to Data Analysis/ Machine Learning and Parallel Programming.
    Previously, I worked as a Junior Software Developer for Tata Consultancy Services (TCS). I was responsible for maintaining a retail chain store website.
</p>
    
<p>
    I am passionate about programming and big data. I like learning new skills and taking on challenges which enable me to push myself.
</p>