@{
    ViewBag.Title = "Contact";
}
<h1>Contact</h1>

<address>
    21, Easton Park Parade,<br />
    Glenfield, Auckland 0629<br />
    <br />
    <abbr title="Phone">P:</abbr>
    +64 022 3459510
</address>

<address>
    <strong>Email Address:</strong>   <a href="mailto:vigneshram.bk@gmail.com">vigneshram.bk@gmail.com</a><br />
</address>