
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#rollerMadness">
                        <span class="glyphicon glyphicon-plus"></span>
                        Roller Madness
                    </a>
                </h4>
            </div>
            <div id="rollerMadness" class="panel-collapse collapse">
                <div class="panel-body">
                    <object id="UnityObject"
                            classid="clsid:444785F1-DE89-4295-863A-D46C3A781394"
                            width="800"
                            height="450"
                            codebase="http://webplayer.unity3d.com/download_webplayer/UnityWebPlayer.cab#version=2,0,0,0">
                        <param name="@Url.Content("~/Content/Games.unity3d")"
                               value="Games.unity3d" />
                        <embed id="UnityEmbed"
                               src="@Url.Content("~/Content/Games.unity3d")"
                               width="600"
                               height="450"
                               type="application/vnd.unity"
                               pluginspage="http://www.unity3d.com/unity-web-player-2.x" />
                    </object>

                </div>
            </div>
        </div>
</div></div>