
<h1>Roller Madness</h1>

    How To Play
    <br />
    <p>Use <kbd>W A S D</kbd> or <kbd>&uarr; &larr; &darr; &rarr;</kbd> keys to move the roller ball. Collect gold coins to improve score. Avoid the cubes and don't fall down. 
    The cubes destroy each other so try to get them to collide.</p>

Only for Chrome users: <a href="#" target="_blank">Install Gameload to play Unity games</a>

<div id="unityPlayer">
    <div class="missing"></div>
    <object id="UnityObject"
            classid="clsid:444785F1-DE89-4295-863A-D46C3A781394"
            width="800"
            height="450"
            codebase="http://webplayer.unity3d.com/download_webplayer/UnityWebPlayer.cab#version=2,0,0,0">
        <param name="@Url.Content("~/Content/Games.unity3d")"
               value="Games.unity3d" />
        <embed id="UnityEmbed"
               src="@Url.Content("~/Content/Games.unity3d")"
               width="600"
               height="450"
               type="application/vnd.unity"
               pluginspage="http://www.unity3d.com/unity-web-player-2.x" />
    </object>
</div>

