@{ViewBag.Title = "Projects";}

<h1> Projects</h1>

<p>
    <ul>
        <li>
            Decision Jungles
            <ul>
                <li>Personal project – Machine learning using Java</li>
                <li>Inspired by an academic paper</li>
                <li>Implemented a classifier to extend WEKA (an Open source ML library)</li>
            </ul>
            Github: https://github.com/vingaram/DecisionJungle
        </li>
        <li>
            Hangman Online
            <ul>
                <li>Personal project – Built a Web application to play Hangman online</li>
                <li>Players can create accounts and track scores</li>
                <li>User Interface coded in HTML5/CSS/JavaScript</li>
                <li>Python for server side scripting with MySQL back-end</li>
            </ul>
                Github: https://github.com/vingaram/Hangman
        </li>
        <li>
        	Twitter data analysis
            <ul>
                <li>Personal project – Analyzed tweets from all over the world to find patterns</li>
                <li>Pulled data using Twitter REST APIs</li>
                <li>Used Java to parse 10 million tweets</li>
                <li>Found relationships between countries and popular hashtags</li>
            </ul>
                Github: https://github.com/vingaram/TweetMiner
        </li>
        <li>
            ‘SeqStream’: Mining Closed Sequential Patterns
            <ul>
                <li>Part of the data mining coursework</li>
                <li>Reproduced the results of an academic paper</li>
                <li>Involves sophisticated pattern mining</li>
            </ul>
        </li>
            
        C++ Code Conversion and Simulation of Automata
        Bachelor’s Degree Project
        Simulated Finite Automata using C++
        Simulated various other automata using Python
        
        Online Test Taking System – TCS training project
        A two person team project
        Built a Web application for taking tests
        Users can create accounts, create tests, take tests and view scores
        Contribution: Wrote Java server side code and some unit tests
        
        Library Management Project - TCS Coding Camp Year 2007
        Team project (High School)
        Built a Library Management System in C++
        Maintains members, books and answers queries
        Github: https://github.com/vingaram/Library-Management
        
        Current Project
        Designing a game inspired by Spore
        Uses Unity 5 engine and C#
    </ul>
</p>