@{ViewBag.Title = "Projects";}

<h1> Projects</h1>

<p>
    <ul>
        <li id="project" onmouseenter="showStuff(event)" onmouseout="hideStuff(event)">
            
            <ul>
                <li>Personal project – Machine learning using Java</li>
                <li>Inspired by an academic paper</li>
                <li>Implemented a classifier to extend WEKA (an Open source ML library)</li>
            </ul>
            Github: https://github.com/vingaram/DecisionJungle
        </li>
        <li id="project" onmouseenter="showStuff(event)" onmouseout="hideStuff(event)">
            Hangman Online
            <ul>
                <li>Personal project – Built a Web application to play Hangman online</li>
                <li>Players can create accounts and track scores</li>
                <li>User Interface coded in HTML5/CSS/JavaScript</li>
                <li>Python for server side scripting with MySQL back-end</li>
            </ul>
                Github: https://github.com/vingaram/Hangman
        </li>
        <li id="project" onmouseenter="showStuff(event)" onmouseout="hideStuff(event)">
        	Twitter data analysis
            <ul>
                <li>Personal project – Analyzed tweets from all over the world to find patterns</li>
                <li>Pulled data using Twitter REST APIs</li>
                <li>Used Java to parse 10 million tweets</li>
                <li>Found relationships between countries and popular hashtags</li>
            </ul>
                Github: https://github.com/vingaram/TweetMiner
        </li>
        <li id="project" onmouseenter="showStuff(event)" onmouseout="hideStuff(event)">
            ‘SeqStream’: Mining Closed Sequential Patterns
            <ul>
                <li>Part of the data mining coursework</li>
                <li>Reproduced the results of an academic paper</li>
                <li>Involves sophisticated pattern mining</li>
            </ul>
        </li>
            
        <li id="project" onmouseenter="showStuff(event)" onmouseout="hideStuff(event)">

        C++ Code Conversion and Simulation of Automata
        <ul>

            <li>Bachelor’s Degree Project</li>
            <li>Simulated Finite Automata using C++</li>
            <li>Simulated various other automata using Python</li>
        </ul>
        
        </li>
        <li id="project" onmouseenter="showStuff(event)" onmouseout="hideStuff(event)">

        Online Test Taking System – TCS training project
        <ul>

            <li>A two person team project</li>
            <li>Built a Web application for taking tests</li>
            <li>Users can create accounts, create tests, take tests and view scores</li>
            <li>Contribution: Wrote Java server side code and some unit tests</li>
        </ul>
        </li>
        <li id="project" onmouseenter="showStuff(event)" onmouseout="hideStuff(event)">

        Library Management Project - TCS Coding Camp Year 2007
            <ul>

                <li>Team project (High School)</li>
                <li>Built a Library Management System in C++</li>
                <li>Maintains members, books and answers queries</li>
            </ul>
        Github: https://github.com/vingaram/Library-Management
        </li>
    </ul>
</p>

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-minus"></span>
                        Decision Jungles
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="glyphicon glyphicon-plus"></span>
                        Collapsible Group Item #2
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="glyphicon glyphicon-plus"></span>
                        Collapsible Group Item #3
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>
