@{ViewBag.Title = "Projects";}

<h1> Projects</h1>

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <a id="projects" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <span class="glyphicon glyphicon-plus"></span>
                        Decision Jungles
                </h4>
            </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Personal project – Machine learning using Java</li>
                        <li>Inspired by an academic paper</li>
                        <li>Implemented a classifier to extend WEKA (an Open source ML library)</li>
                    </ul>
                    <a href="https://github.com/vingaram/DecisionJungle">Github</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                    <a id="projects" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        Hangman Online
                </h4>
            </div>
                    </a>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Personal project – Built a Web application to play Hangman online</li>
                        <li>Players can create accounts and track scores</li>
                        <li>User Interface coded in HTML5/CSS/JavaScript</li>
                        <li>Python for server side scripting with MySQL back-end</li>
                    </ul>
                    <a href="https://github.com/vingaram/Hangman">Github</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                    <a id="projects" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        Twitter data analysis
                </h4>
            </div>
                    </a>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Personal project – Analyzed tweets from all over the world to find patterns</li>
                        <li>Pulled data using Twitter REST APIs</li>
                        <li>Used Java to parse 10 million tweets</li>
                        <li>Found relationships between countries and popular hashtags</li>
                    </ul>
                    <a href="https://github.com/vingaram/TweetMiner">Github</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                    <a id="projects" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        ‘SeqStream’: Mining Closed Sequential Patterns
                </h4>
            </div>
                    </a>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Part of the data mining coursework</li>
                        <li>Reproduced the results of an academic paper</li>
                        <li>Involves sophisticated pattern mining</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                    <a id="projects" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        C++ Code Conversion and Simulation of Automata
                </h4>
            </div>
                    </a>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Bachelor’s Degree Project</li>
                        <li>Simulated Finite Automata using C++</li>
                        <li>Simulated various other automata using Python</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                    <a id="projects" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        Online Test Taking System – TCS training project
                </h4>
            </div>
                    </a>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>A two person team project</li>
                        <li>Built a Web application for taking tests</li>
                        <li>Users can create accounts, create tests, take tests and view scores</li>
                        <li>Contribution: Wrote Java server side code and some unit tests</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                    <a id="projects" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        Library Management Project - TCS Coding Camp Year 2007
                </h4>
            </div>
                    </a>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>

                        <li>Team project (High School)</li>
                        <li>Built a Library Management System in C++</li>
                        <li>Maintains members, books and answers queries</li>
                    </ul>
                    <a href="https://github.com/vingaram/Library-Management">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
